{% extends 'Bien/creeBien.html.twig' %}
{% block title %}    Modification d'un bien{% endblock %}
{% block btnvalue %}Modifier le bien{% endblock %}
{% block bloch1 %}<h1>Modification d'un bien</h1>{% endblock %}
